.side
  .side__header
    = current_user.name
    =link_to edit_user_path(current_user), class: "side__header__icon" do
      = fa_icon 'cog', class: "side__header__icon__edit-acount"
    =link_to new_group_path, class: "side__header__icon" do
      = fa_icon 'edit', class: "side__header__icon__new-group"
  .side__content
    .side__content__group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .side__content__group--name
            = group.name
          .side__content__group--message
            = group.show_last_message