= render 'side_bar'
.main
  .main__header
    .main__header__group
      .main__header__group--name
        = @group.name
      .main__header__group--member 
        Member :
        - @group.users.each do |user|
          = user.name
    =link_to edit_group_path(@group), class: "main__header__button" do
      Edit
  .main__content
    = render @messages

  .main__form
    = form_for [@group, @message], :html => {:class => "main__form__create"} do |f|
      .main__form__create__box
        = f.text_field :content, class: 'main__form__create__box__text', placeholder: "type a message"
        = f.label :image do
          = f.file_field :image, class: 'hidden-form'
          = fa_icon 'image', class: "main__form__create__box--icon"
      = f.submit 'Send', class: 'main__form__create--submit'
