= render 'side_bar'
.main
  .main__header
    .main__header__group
      .main__header__group--name
        = @group.name
      .main__header__group--member
        = "Member : #{@group.user_ids.map { |id| User.find(id).name }}"
    =link_to "https://chat-space-sample.herokuapp.com/", class: "main__header__button" do
      Edit
  .main__content
    = render @messages

  .main__form
    = form_for [@group, @message], :html => {:class => "main__form__create"} do |f|
      .main__form__create__box
        = f.text_field :content, class: 'main__form__create__box__text', placeholder: "type a message"
        = f.label :image do
          = f.file_field :image, class: 'hidden-form'
          = fa_icon 'image', class: "main__form__create__box--icon"
      = f.submit 'Send', class: 'main__form__create--submit'



-# side__content__group
-#       - current_user.groups.each do |group|
-#         = link_to group_messages_path(group) do
-#           .side__content__group--name
-#             = group.name